body {
  background-color: #e1e3ea;
  font-family: Avenir, Sans-serif;
	text-align: center;
}

#content {
  position: relative;
}

h1 {
  color: #ed9090;
  text-shadow: 3px 3px #7b8596;
  font-size: 300%;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

button {
  color: white;
  font-family: Avenir, Sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
  outline-color: #ed9090;
}

#container {
  margin-left: auto;
  margin-right: auto;
  height: 640px;
  width: 640px;
  background-color: #bab9a1;
}

.square {
  float: left;
}
