button {
  padding: 10px 20px;
  border-radius: 4px;
}

#container {
  height: 640px;
  width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -320px;
  background-color: white;
}

.square {
  height: 40px;
  width: 40px;
  float: left;
  background-color:
}
